* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#container{
    background-color: grey;
    width: 900px;
    height: 500px;
}

.divColor {
    display: inline-block;
    width: 60px;
    height: 90px;
    
}

#bandera1{
    background-color: rgb(255, 0, 187);
    width: 190px;
    height: 90px;
    
}

#c1_1 {
    background-color: blue;
}

#c2_1, #c2_3 {
    background-color: white;
}

#c3_1, #c2_2, #c3_3 {
    background-color: red;
}

.divColor2 {
    /* display: inline-block; */
    width: 190px;
    height: 30px;
}

#bandera2 {
    background-color: rgb(255, 0, 187);
    width: 190px;
    height: 90px;
}

.divColor3 {
    flex:1;
}

#bandera3 {
    display: flex;
}


#c1_2 {
    background-color: black;
}

#c3_2 {
    background-color: yellow;
}

#c1_3{
    background-color: green;
}

