@media only screen and (max-width: 480px){
    
    nav {
        
        flex-direction: column;
        
    }

    nav h1 {
        font-size: 40px;

        margin-left: 0px;
        
        
        flex: 1;
        display: flex;
        justify-content: center;
        
    }

    .nav-title {
        color: blueviolet;        
    }

    .nav-links {
        margin-left: 0px;
        margin-bottom: 10px;

        flex: 1;
        flex-direction: column;
        justify-content: space-between;
    }


    .container {
        width: max-content;
        margin: 0;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
    }

    .cardHead img {
        left: 33%;
    }

    .cardBody > * {
        margin: 0;
    }
    .cardBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #input_nombre {
        margin-top: 25px;
    }

    .carrer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    span {
        text-align: center;
    }

    aside {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 481px){
    .nav-title {
        color: blue;
    }
}

@media only screen and (min-width: 1024px){
    .nav-title {
        color: yellow;
    }
}