/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* CSS Predeterminado */
body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/* CSS Barra de navegación */

nav {
    background-color: #333333;
    width: 100%;
    height: 60px;
    color: white;

    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head1{
    display: flex;
}

nav h1 {
    margin-left: 10px;
}

.nav-links {
    list-style: none;

    margin-left: 20px;
    
    display: flex;
    align-items: center;
    
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links li {
    margin-right: 15px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    background-color: #18a2b8;
    color: white;

    margin-right: 50px;
    padding: 4px 3px;
    border: 2px solid black;
    box-shadow: 3px 3px 0 1px rgba(0,0,0,1);
    
}

/* CSS Contenido Principal */
.container {
    /* background-color: grey */
    width: 1150px;
    height: 1000px;

    margin: 50px auto;

    display: flex;

}
.mainSection {
    
    width: 750px;
    height: 900px;

    display: flex;
    flex-direction: column;
}

.mainCard {
    
    width: 700px;
    height: 450px;

    margin: 20px;

    display: flex;
    flex-direction: column;

    position: relative;
}

.cardHead > img {
    width: 150px;
    position: relative;
    top: 50px;
    left: 50px;

    border: 2px solid silver;
    border-radius: 50%;
    background-color: black;
    padding: 5px;

}

.cardHead {
    background-color: #17a2b8;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cardBody {
    background-color: white;
    box-sizing: border-box;
    height: 400px;

    border-left: 5px solid silver;
    border-bottom: 5px solid silver;
    border-right: 5px solid silver;

    padding: 50px;
    align-items: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.cardBody > *, .cardBody2 > *, .cardBody3 > * {
    margin: 15px 10px;
}

.icons {
    width: 20px;
}

.education {
    
    width: 700px;
    height: 300px;

    margin: 20px;

    display: flex;
    flex-direction: column;

    position: relative;
}

.cardHead2 {
        
    background-color: #333333;
    height: 80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    padding: 20px 20px 20px 30px;
    
    color: white;
    font-size: 25px;
    text-align: left;
    letter-spacing: 2px;
    
}

.cardBody2 {
    background-color: white;
    
    border-left: 5px solid silver;
    border-bottom: 5px solid silver;
    border-right: 5px solid silver;

    padding: 20px 10px;

    font-size: 20px;

    display: flex;
    flex-direction: column;
}

.cardBody2 > p {
    color: silver;
}

.requestBox, .conectBox {
    display: flex;
    align-items: center;
}

.imgRequest, .imgConect {
    
    width: 60px;
    border-radius: 50%;
}

.requestBox p, .conectBox p {
    padding-left: 10px;
    flex: 1;

}

.checkButtons img {
    flex: 1;
    width: 50px;
}



.request, .conections {
    margin: 20px;
}

.cardHead3 {
    
    background-color: #333333;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    padding: 20px 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cardHead3 p {
    color: white;
    
    padding-left: 10px;
    font-size: 25px;
    
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.requestCount {
    background-color: silver;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    text-align: center;
    
}

.requestCount p {
    padding: 8px;
}

.conectCount {
    background-color: silver;
    width: 80px;
    height: 50px;
    border-radius: 50%;
}

.conectCount p {
    font-size: 22px;
    padding: 8px;

    text-align: center;
    justify-content: center;
}

.cardBody3 {
    background-color: white;
    /* box-sizing: border-box; */
    /* height: 250px; */

    border-left: 5px solid silver;
    border-bottom: 5px solid silver;
    border-right: 5px solid silver;

    padding: 20px 10px;

    font-size: 20px;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
}

.viewMore {
    background-color: white;
    /* box-sizing: border-box; */
    height: 30px;

    border-left: 5px solid silver;
    border-bottom: 5px solid silver;
    border-right: 5px solid silver;

    padding: 20px;
    
    font-size: 25px;
    
}

