* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #333333;
    width: 100%;
    height: 60px;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin-left: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links li {
    margin-right: 15px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    background-color: #18a2b8;
    color: white;
    border: 2px solid black;
    box-shadow: 3px 3px 0 1px rgba(0,0,0,1);
    padding: 4px 3px;
    cursor: pointer;
}

.container {
    background-color: grey;
    width: 1150px;
    height: 1000px;

    margin: 50px auto;

    display: flex;

}
.mainSection {
    /* background-color: yellow; */
    width: 750px;
    height: 900px;

    display: flex;
    flex-direction: column;
}

.mainCard {
    
    width: 700px;
    height: 450px;

    margin: 20px;

    display: flex;
    flex-direction: column;

    position: relative;
}

.mainCard img {
    width: 180px;
    position: relative;
    top: 50px;
    left: 50px;

    border: 2px solid silver;
    border-radius: 50%;
    background-color: black;
    padding: 5px;

}

.cardHead {
    background-color: #17a2b8;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cardBody {
    background-color: white;
    /* box-sizing: border-box; */
    height: 300px;

    border-left: 5px solid silver;
    border-bottom: 5px solid silver;
    border-right: 5px solid silver;

    /* padding: 50px; */

    font-family: 'Roboto', sans-serif;
}


.education {
    /* background-color: yellow; */
    width: 700px;
    height: 300px;

    margin: 20px;

    display: flex;
    flex-direction: column;

    position: relative;
}

.cardHead2 {
    /* box-sizing: border-box; */
    
    background-color: #333333;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    color: white;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 25px;
    text-align: left;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

.aside {
    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
}

.request, .conections {
    margin: 20px;
}

.cardHead3 {
    /* box-sizing: border-box; */
    
    background-color: #333333;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    color: white;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 25px;
    text-align: left;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}