/*  CSS reset */

*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* CSS header */

header{
    padding: 3vh;
    background-color: #eafaf1;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

ul{
    list-style: none;

    display: flex;    
    align-items: center;
    justify-content: space-evenly;
    
}

.nav_ul li {
    margin-right: 3vh;
    font-weight: bolder;
    font-size: 20px;
    color: #00ad6a;
}

.nav_ul .select {
    color: black;
}

.btn-SingUp{
    border: 1px solid #00ad6a;
    padding: 8px 15px;
}

.btn-SingUp:hover {
    box-shadow: -5px 5px 0px #00ad6a;
    transform: translate(5px, -5px)
}


/* CSS main */

.container {
    background-color: #eafaf1;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main_top {
    width: 600px;
    padding: 30px 0;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.main_top h1 {
    font-size: 70px;
    font-weight: 700;
}

.main_top p {
    font-size: 25px;
}

.main_mid {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card1, .card2, .card3 {
    width: 300px;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: justify; */
}

.card1 {
    border: none;
}

.card1 h2 {
    color: #00ad6a;
}

.card2 {
    height: 500px;
}

.card1 ul, .card2 ul, .card3 ul {
    display: flex;
    flex-direction: column;
    list-style: disc;
    /* text-align: justify; */
}

.btnTrial{
    /* width: 400px; */
    background-color: #1fe374;
    padding: 2vh;
    margin-top: 1vh;
    font-size: 24px;
    font-weight: bolder;
}

.c2_mid, .c2_bottom, .c3_mid, .c3_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_bottom {
    width: 800px;
    height: 200px;

    padding: 30px 0;

    font-size: 25px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.p2_bottom {
    font-size: 10px;
    text-align: center;
    text-transform: capitalize;
    color: #00ad6a;
}

aside {
    width: 100%;
    padding: 50px 0;

    display: flex;
    justify-content: center;
    background-color: white;
}

.faq{
    width: 1200px;
    /* height: 1000px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
table tr {
    /* width: 200px; */
    margin-bottom: 15px;
}
.thead {
    font-size: 50px;
    text-align: left;
}
.faq_tittle {
    display: block;
    font-size: 24px;
    /* font-weight: 700; */
}

table td {
    
    font-size: 22px;
    font-weight: 100;
    text-align: left;
    


    padding: 15px 0px;
    vertical-align: text-top;
}


/*Footer Section*/
footer{
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 5vh;
}

.btnTrial2{
    width: 400px;
    background-color: #1fe374;
    padding: 2vh;
    margin-top: 1vh;
    font-size: 24px;
    font-weight: bolder;
}

.row {
    width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.col1 img {
    width: 240px;
    margin-bottom: 20px;
}

.col1{
    margin: 2vh 0;
}

.col2{
    display: flex;
    margin: 2vh 0;
}

.footlist {
    display: block;
    padding-inline-start: 150px;
}

.footlist li{
    color: #1fe374;
    padding-bottom: 1vh;

    font-size: 25px;
}

.footlist li:hover{
    color: #d6dae5;
}

.footlist li:first-child {
    color: #fcfcfc;
}

.rr {
    margin-top: 100px;
    color: grey;
}

.rr a {
    /* text-decoration: none; */
    color: grey;
}